# lua-widow-control
# https://github.com/gucci-on-fleek/lua-widow-control
# SPDX-License-Identifier: MPL-2.0+
# SPDX-FileCopyrightText: 2022 Max Chernoff
_markdown_*
*.aux
*.bbl
*.bcf
*.blg
*.log
*.out
*.pdf
*.run.xml
*.synctex.gz
*.tmp
*.toc
*.tuc
*.vimout
*.zip
build/
nogit-**
tugboat.bib
tugboat.def
