# lua-widow-control
# https://github.com/gucci-on-fleek/lua-widow-control
# SPDX-License-Identifier: MPL-2.0+
# SPDX-FileCopyrightText: 2021 gucci-on-fleek
*.aux
*.log
*.out
*.pdf
*.synctex.gz
*.toc
*.tuc
*.vimout
nogit-**
